body{
    background-color: rgb(255, 255, 255);
}

.home_button{
    border-radius: 50px;
    border: 0; /* none */
    border-color: #00ff88;
    width: auto;
    position: sticky;top: 20px ;
    color: #ff0077;
    background-color: #b7b8db;
}

.other_buttons{
    border-radius: 50px;
    border: 0; /* none */
    border-color: aquamarine;
    width: auto;
    position: sticky;top: 20px ;
    color: blueviolet;
    background-color: aqua;
}

#home_button1{
    position: absolute; left: 100px; top: 20px;
}
#menu2{
    position: absolute; left: 200px; top: 20px;
}
#menu3{
    position: absolute; left: 350px; top: 20px;
}
#index_button{
    width: 10%;
}